.App {
  font-family: sans-serif;
  text-align: center;
}

.mainGame {
  margin-top: 20px;
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
}

.timerContainer {
  text-align: left;
  float: left;
}

.restartButton {
  float: right;
}

.homepageContainer {
  font-size: 40px;
}

.startContainer {
  margin-top: 20px;
}

.gameContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
