.addAdressContainer {
  padding-top: 35px;
  margin: 15px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-control label {
  width: 50%;
  padding-right: 20px;
  margin-bottom: 5px;
}

.form-control input[type="text"],
.form-control input[type="number"] {
  width: 80%;
  padding: 5px;
}

.errorMsg {
  max-width: 350px;
  color: #f21e08;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0px;
}

.footerAddAddress {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.footerAddAddresHeading {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 7px;
  font-weight: 700;
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  height: 35px;
  font-size: 16px;
}

.showAddressContainer {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.openAddressDialog {
  border: none;
  color: white;
  padding: 7px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  background-color: #4CAF50;
  width: 100%;
}

.addressField {
  font-size: 14px;
  width: 80%;
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.addressButton {
  width: 20%;
}

.addressListSection {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #f6f5ff;
  padding: 15px;
}

.pdTop {
  padding-top: 35px;
}

.MuiRadio-colorSecondary.Mui-checked {
  color: #4CAF50 !important;
}