.checkoutContainer {
  position: fixed;
  bottom: 0px;
  width: 99%;
  height: 40px;
  border: 2px solid #dedde8;
  border-radius: 2px;
  background-color: white;
}
  
.checkoutHeading {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
}

.placeOrderButton {
  border: none;
  color: white;
  padding: 7px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  width: 99%;
}

.placeOrderContainer {
  width: 50%;
}

.priceStyle {
  padding-left: 10px;
  width: 50%;
}

.priceText {
  font-size: 12px;
}

.loaderClass {
  margin: auto;
  width: 50px;
}
