.mainBartanContainer {
  padding-top: 30px;
}

.imgContainer {
  display: flex;
  min-height: 40vh;
}

.imageStyle {
  height: auto;
  width: 100%;
  margin: auto;
}

.Toastify__toast-container {
  width: 200px !important;
  bottom: 5em !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
